name: CheckWhenTriggered

on:
  pull_request:
    types: [opened, edited, reopened]
    branches:
    - master
  push:
    branches:
    - master

jobs:
  CheckWhenTriggered:
    runs-on: ubuntu-latest
    steps:
      
      - name: Echo for not draft
        run: |
              echo 'success'
