name: checkNull

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - master 
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  
jobs:
  checkNull:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    
      - name: Run a one-line script
        run: |
              echo 'hello'
              echo 'head ref:' ${{ github.head_ref }}
              echo 'base ref:' ${{ github.base_ref }}
              
              numOne='5'
              numTwo='5'
              
              if [[ "$num" =~ "$numTwo" ]]; then
                echo 'success'
              else
                echo 'failure'
                exit 1
              fi
              
              
              
             
             
             
                  
