name: CheckWhenTriggered

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
    - master
  push:

jobs:
  CheckWhenTriggered:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Echo for not draft
        run: |
              echo 'some echo'
