name: checkNull

on:
  #push:
  #  branches:
  #    - master
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - master     
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  
jobs:
  checkNull:
    runs-on: ubuntu-latest
    
    #if: github.ref != 'refs/heads/master'
    steps:
    
      - name: Some Echo
        run: |
              echo 'Start of code execution'
              echo 'event name:' ${{ github.event_name }}
    
      - name: Validate PR Title
        if: github.event_name == 'pull_request'
        run:  |
                echo PR Numer is: $GITHUB_PR_NUMBER
              
          
              
            
              
             
             
             
                  
