name: CheckWhenTriggered

on:
  pull_request:
    types: [edited]
  push:

  
jobs:
  CheckWhenTriggered:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: Echo for not draft
        run: |
              echo 'some echo'
