name: CheckWhenTriggered

on:
  pull_request:
    types: [edited]
    branches:
    - master
  pull_request_review:
    branches:
    - master

jobs:
  CheckWhenTriggered:
    runs-on: ubuntu-latest
    steps:
      
      - name: Echo for not draft
        run: |
              echo 'success'
              echo ${GITHUB_SHA}
