name: TriggerRCVersion

on:
  push:
    paths:
      - 'package.json'
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  TriggerRCVersion:
    runs-on: ubuntu-latest
    
    steps:
    
        - name: Extract branch name
          run: |
                 echo "Branch_Name=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
                 echo github.ref
                 
        - name: Read json file from the master branch
          if: ${{ env.Branch_Name  != 'master' }}
          run : |
                 contentMaster=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json | jq -r '.content')
                 parsedJSON=$(echo "$contentMaster" | base64 -d)
                 
                 RCVersionMaster=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 echo "RCVersionMaster=$RCVersionMaster" >> $GITHUB_ENV
                 
                 echo $RCVersionMaster
                
        - name: Read json file from the current branch
          if: ${{ env.Branch_Name  != 'master' }}
          run: |
                 contentBranch=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json?ref=${{ env.Branch_Name }} | jq -r '.content')
                 parsedJSON=$(echo "$contentBranch" | base64 -d)
                 
                 RCVersionBranch=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 echo "RCVersionBranch=$RCVersionBranch" >> $GITHUB_ENV 
                 
                 echo $RCVersionBranch

        - name: Compare Versions
          if: ${{ env.Branch_Name  != 'master' }}
          run:  |
                  CompareMainPart() {
                  #returns 0 if no Slack notification is needed
                  #returns 1 if a Slack message should be notified
                  
                    RCVersionBranchFunction=$1
                    RCVersionMasterFunction=$2
                    
                    echo 'CompareMainPart - RCVersionBranch:' $RCVersionBranchFunction
                    echo 'CompareMainPart - RCVersionMaster:' $RCVersionMasterFunction
                    
                    majorBranch=`echo $RCVersionBranchFunction | cut -d. -f1`
                    minorBranch=`echo $RCVersionBranchFunction | cut -d. -f2`
                    revisionBranch=`echo $RCVersionBranchFunction | cut -d. -f3`
                    
                    majorMaster=`echo $RCVersionMasterFunction | cut -d. -f1`
                    minorMaster=`echo $RCVersionMasterFunction | cut -d. -f2`
                    revisionMaster=`echo $RCVersionMasterFunction | cut -d. -f3`
                    
                    sendNotificationFunction=0
                    if [[ "$majorBranch" -eq "$majorMaster" ]]; then
                      
                        echo 'first'
                      
                        if [[ "$minorBranch" -eq "$minorMaster" ]]; then
                            echo 'second'
                            if [[ "$revisionBranch" -eq "$revisionMaster" ]]; then
                                echo 'third'
                                sendNotificationFunction=0
                            else
                                if [[ "$revisionBranch" -gt "$revisionMaster" ]]; then
                                  sendNotificationFunction=1
                                else
                                  sendNotificationFunction=0
                                fi		
                            fi
                        else
                          if [[ "$minorBranch" -gt "$minorMaster" ]]; then
                            echo 'inside 1'
                            sendNotificationFunction=1
                          else
                            echo 'inside 2'
                            sendNotificationFunction=0
                          fi		
                      fi
                    else
                      if [[ "$majorBranch" -gt "$majorMaster" ]]; then
                        sendNotificationFunction=1
                      else
                        sendNotificationFunction=0
                      fi		
                    fi
                    
                    echo 'sendNotificationFunction before return is:' $sendNotificationFunction                    
                  }
                  
                  #EXECUTION STARTS HERE
                  RCVersionBranch=${{ env.RCVersionBranch }}
                  RCVersionMaster=${{ env.RCVersionMaster }}
                  
                  echo 'RCVersionBranch:' $RCVersionBranch
                  echo 'RCVersionMaster:' $RCVersionMaster
                  
                  branchContainsHyphen=false
                  masterContainsHyphen=false
                  
                  if [[ $RCVersionBranch =~ "-" ]]; then
                    branchContainsHyphen=true
                  fi
                  
                  if [[ $RCVersionMaster =~ "-" ]]; then
                    masterContainsHyphen=true
                  fi
                  
                  if [[ $branchContainsHyphen == "true" ]] && [[ $masterContainsHyphen == "true" ]]; then
                      echo 'both have hyphens'
                      
                      beforeHyphenRelease=${RCVersionBranch%%-*}
                      beforeHyphenMaster=${RCVersionMaster%%-*}
                      afterHyphenRelease=${RCVersionBranch##*-}
                      afterHyphenRelease=$(echo $afterHyphenRelease | bc)
                      afterHyphenMaster=${RCVersionMaster##*-}
                      afterHyphenMaster=$(echo $afterHyphenMaster | bc)
                      
                      if [[ $beforeHyphenRelease == $beforeHyphenMaster ]]; then
                        if [[ $afterHyphenRelease == $afterHyphenMaster ]]; then
                          sendSlack=0
                          echo 'after dash are equal, same versions'
                        else
                          if [[ $afterHyphenRelease -gt $afterHyphenMaster ]]; then
                            sendSlack=1
                            echo 'notify as release after dash is greater: ' $sendNotificationFunction
                          else
                            sendSlack=0
                            echo 'do not notify as master after dash is greater:' $sendNotificationFunction
                          fi
                        fi	
                      else
                        CompareMainPart $beforeHyphenRelease $beforeHyphenMaster

                        if [[ $sendNotificationFunction == 0 ]] || [[ $sendNotificationFunction == 2 ]]; then
                          sendSlack=0
                          echo 'no need to notify as master is greater:' $sendNotificationFunction
                        else
                          sendSlack=1
                          echo 'notify as branch is greater:' $sendNotificationFunction
                        fi
                      fi
                    elif [[ $branchContainsHyphen == "true" ]] && [[ $masterContainsHyphen == "false" ]]; then
                      #in case the branch contains a hyphen and the master is in x.y.z format

                      echo 'true branch/false master'
                      beforeHyphenRelease=${RCVersionBranch%%-*}
                      
                      if [[ $beforeHyphenRelease == $RCVersionMaster ]]; then
                          
                          afterHyphenRelease=${RCVersionBranch##*-}
                          afterHyphenRelease=$(echo $afterHyphenRelease | bc)

                          if [[ $afterHyphenRelease -gt 0 ]]; then
                            sendSlack=1
                            echo 'notify as branch is greater'
                          fi
                      else
                    
                          CompareMainPart $beforeHyphenRelease $RCVersionMaster              

                          if [[ $sendNotificationFunction == 0 ]]; then
                            sendSlack=-0
                            echo 'do not notify'
                          else
                            sendSlack=1
                            echo 'notify as branch is greater.'
                          fi
                      fi
                    elif [[ $branchContainsHyphen == "false" ]] && [[ $masterContainsHyphen == "true" ]]; then
                        #in case the branch is in x.y.z format and the master contains a hyphen

                        echo 'false branch/true master'
                        beforeHyphenMaster=${RCVersionMaster%%-*}
                        
                        if [[ $RCVersionBranch == $beforeHyphenMaster ]]; then
                            afterHyphenMaster=${RCVersionMaster##*-}
                            afterHyphenMaster=$(echo $afterHyphenMaster | bc)

                            if [[ $afterHyphenMaster -gt 0 ]]; then
                              sendSlack=0
                              echo 'do not notify as master is greater:' $sendNotificationFunction
                            fi
                        else
                        
                            CompareMainPart $RCVersionBranch $beforeHyphenMaster
                            
                            if [[ $sendNotificationFunction == 0 ]]; then
                              sendSlack=-0
                              echo 'do not notify'
                            else
                              sendSlack=1
                              echo 'notify as branch is greater.'
                            fi
                        fi
                                                  
                    else

                        echo 'no hyphens in both branch and master'
                        CompareMainPart $RCVersionBranch $RCVersionMaster
                        
                        if [[ $sendNotificationFunction == 0 ]]; then
                          sendSlack=0
                        else
                          sendSlack=1
                        fi
                        
                    fi
                    
                    echo "SendNotificationToSlack=$sendSlack" >> $GITHUB_ENV 

        
        - name: Send Slack Notification
          if: ${{ env.Branch_Name  != 'master' && env.SendNotificationToSlack == 1 }}
          uses: someimportantcompany/github-actions-slack-message@v1
          with:
            webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
            text: NEW RC Version has been utilized
            color: success
