name: TriggerRCVersion

on:
  push:
    paths:
      - 'package.json'
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  TriggerRCVersion:
    runs-on: ubuntu-latest
    
    steps: 
                 
        - name: Read json file from the master branch
          run : |
                 contentMaster=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json | jq -r '.content')
                 parsedJSON=$(echo "$contentMaster" | base64 -d)
                 
                 RCVersionMaster=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 
                 echo $RCVersionMaster
                
        - name: Read json file from the current branch
          run: |
                 echo "pr branch: ${{ github.head_ref }}"
                 
                 contentMaster=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json?ref="${{ github.head_ref }}" | jq -r '.content')
                 parsedJSON=$(echo "$contentMaster" | base64 -d)
                 
                 RCVersionMaster=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 
                 echo $RCVersionMaster
                
                 
        - name: Dump GitHub context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: echo "$GITHUB_CONTEXT"
