name: TriggerRCVersion

on:
  push:
    paths:
      - 'package.json'
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  TriggerRCVersion:
    runs-on: ubuntu-latest
    
    steps:
    
        - name: Extract branch name
          run: |
                 echo "PR_Branch_Name=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV  
                 
        - name: Read json file from the master branch
          run : |
                 contentMaster=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json | jq -r '.content')
                 parsedJSON=$(echo "$contentMaster" | base64 -d)
                 
                 RCVersionMaster=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 echo "RCVersionMaster=$RCVersionMaster" >> $GITHUB_ENV
                 
                 echo $RCVersionMaster
                
        - name: Read json file from the current branch
          run: |
                 contentBranch=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json?ref=${{ env.PR_Branch_Name }} | jq -r '.content')
                 parsedJSON=$(echo "$contentBranch" | base64 -d)
                 
                 RCVersionBranch=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 echo "RCVersionBranch=$RCVersionBranch" >> $GITHUB_ENV 
                 
                 echo $RCVersionBranch

        - name: Compare Versions
          run:  |
                  CompareMainPart() {
                  
                    RCVersionBranchFunction=$1
                    RCVersionMasterFunction=$2
                    
                    echo 'CompareMainPart - RCVersionBranch:' $RCVersionBranchFunction
                    echo 'CompareMainPart - RCVersionMaster:' $RCVersionMasterFunction
                    
                    majorBranch=`echo $RCVersionBranchFunction | cut -d. -f1`
                    minorBranch=`echo $RCVersionBranchFunction | cut -d. -f2`
                    revisionBranch=`echo $RCVersionBranchFunction | cut -d. -f3`
                    
                    majorMaster=`echo $RCVersionMasterFunction | cut -d. -f1`
                    minorMaster=`echo $RCVersionMasterFunction | cut -d. -f2`
                    revisionMaster=`echo $RCVersionMasterFunction | cut -d. -f3`
                    
                    echo 'majorBranch: ' $majorBranch
                    echo 'minorBranch: ' $minorBranch
                    echo 'revisionBranch: ' $revisionBranch
                    
                    echo 'majorMaster: ' $majorMaster
                    echo 'minorMaster: ' $minorMaster
                    echo 'revisionMaster: ' $revisionMaster
                    
                    sendNotificationFunction=0
                    if [[ "$majorBranch" -eq "$majorMaster" ]]; then
                      
                        echo 'first'
                      
                        if [[ "$minorBranch" -eq "$minorMaster" ]]; then
                            echo 'second'
                            if [[ "$revisionBranch" -eq "$revisionMaster" ]]; then
                                echo 'third'
                                sendNotificationFunction=0
                            else
                                if [[ "$revisionBranch" -gt "$revisionMaster" ]]; then
                                  sendNotificationFunction=1
                                else
                                  sendNotificationFunction=0
                                fi		
                            fi
                        else
                          if [[ "$minorBranch" -gt "$minorMaster" ]]; then
                            echo 'inside 1'
                            sendNotificationFunction=1
                          else
                            echo 'inside 2'
                            sendNotificationFunction=0
                          fi		
                      fi
                    else
                      if [[ "$majorBranch" -gt "$majorMaster" ]]; then
                        sendNotificationFunction=1
                      else
                        sendNotificationFunction=0
                      fi		
                    fi
                    
                    echo 'sendNotificationFunction before return is:' $sendNotificationFunction                    
                  }
                  
                  RCVersionBranch=${{ env.RCVersionBranch }}
                  RCVersionMaster=${{ env.RCVersionMaster }}
                  
                  echo 'RCVersionBranch:' $RCVersionBranch
                  echo 'RCVersionMaster:' $RCVersionMaster
                  
                  branchContainsHyphen=false
                  masterContainsHyphen=false
                  if [[ $RCVersionBranch =~ "-" ]]; then
                    branchContainsHyphen=true
                  fi
                  if [[ $RCVersionMaster =~ "-" ]]; then
                    masterContainsHyphen=true
                  fi
                  if [[ $branchContainsHyphen == "true" ]] && [[ $masterContainsHyphen == "true" ]]; then
                    
                    echo 'both have hyphens'
                    beforeHyphenRelease=${RCVersionBranch%%-*}
                    beforeHyphenMaster=${RCVersionMaster%%-*}
                    afterHyphenRelease=${RCVersionBranch##*-}
                    afterHyphenMaster=${RCVersionMaster##*-}
                    
                    if [[ $beforeHyphenRelease == $beforeHyphenMaster ]]; then
                      if [[ $afterHyphenRelease == $afterHyphenMaster ]]; then
                        sendNotificationFunction=0
                        echo 'after dash are equal, same versions'
                      else
                        if [[ $afterHyphenRelease -gt $afterHyphenMaster ]]; then
                          sendNotificationFunction=1
                          echo 'notify as release after dash is greater: ' $sendNotificationFunction
                        else
                          sendNotificationFunction=0
                          echo 'do not notify as master after dash is greater:' $sendNotificationFunction
                        fi
                      fi	
                    else
                      CompareMainPart $beforeHyphenRelease $beforeHyphenMaster
                      
                      if [[ $sendNotificationFunction == 0 ]]; then
                        echo 'no need to notify as master is greater:' $sendNotificationFunction
                      else
                        echo 'notify as branch is greater:' $sendNotificationFunction
                      fi
                    fi
                  elif [[ $branchContainsHyphen == "true" ]] && [[ $masterContainsHyphen == "false" ]]; then
                    #in case the branch contains a hyphen and the master is in x.y.z format
                    
                    echo 'true branch/false master'
                    beforeHyphenRelease=${RCVersionBranch%%-*}
                    CompareMainPart $beforeHyphenRelease $RCVersionMaster              
                    
                    if [[ $sendNotificationFunction == 0 ]]; then
                    
                      afterHyphenRelease=${RCVersionBranch##*-}
                      
                      if [[ $afterHyphenRelease -gt 0 ]]; then
                        echo 'notify as branch is greater:' $sendNotificationFunction
                      else
                        echo 'no need to notify as master is greater:' $sendNotificationFunction
                      fi
                    else
                      echo 'notify as branch is greater:' $sendNotificationFunction
                    fi
                  elif [[ $branchContainsHyphen == "false" ]] && [[ $masterContainsHyphen == "true" ]]; then
                      #in case the branch is in x.y.z format and the master contains a hyphen
                      
                      echo 'false branch/true master'
                      beforeHyphenMaster=${RCVersionMaster%%-*}
                      CompareMainPart $RCVersionBranch $beforeHyphenMaster
                      
                      if [[ $sendNotificationFunction == 0 ]]; then
                        
                        afterHyphenMaster=${RCVersionMaster##*-}
                        
                        if [[ $afterHyphenMaster -gt 0 ]]; then
                          echo 'do not notify as master is greater:' $sendNotificationFunction
                        else
                          echo 'do not notify as master is greater:' $sendNotificationFunction
                        fi
                      else
                        echo 'notify as branch is greater:' $sendNotificationFunction
                      fi
                    else
                    
                      echo 'no hyphens in both branch and master'
                      CompareMainPart $RCVersionBranch $RCVersionMaster

                      echo 'sendNotificationFunction for no hyphens is:' $sendNotificationFunction
                    fi
                    
                    echo 'before slack'
                    echo 'sendNotificationFunction before slack is:' $sendNotificationFunction
                    
                    if [[ $sendNotificationFunction == 1 ]]; then
                       echo "SendNotificationToSlack=$sendNotificationFunction" >> $GITHUB_ENV 
                    fi
        
        - name: Send Slack Notification
          uses: someimportantcompany/github-actions-slack-message@v1
          if: env.SendNotificationToSlack == 1
          with:
            webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
            text: NEW RC Version has been utilized
            color: success

        - name: Dump GitHub context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: echo "$GITHUB_CONTEXT"
