name: TriggerRCVersion

on:
  push:
    paths:
      - 'package.json'
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
  
jobs:
  TriggerRCVersion:
    runs-on: ubuntu-latest
    
    steps:
    
        - name: Extract branch name
          run: |
                 echo "PR_Branch_Name=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV  
                 
        - name: Read json file from the master branch
          run : |
                 contentMaster=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json | jq -r '.content')
                 parsedJSON=$(echo "$contentMaster" | base64 -d)
                 
                 RCVersionMaster=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 echo "RCVersionMaster=$RCVersionMaster" >> $GITHUB_ENV
                 
                 echo $RCVersionMaster
                
        - name: Read json file from the current branch
          run: |
                 contentBranch=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/naregkar/repo1/contents/package.json?ref=${{ env.PR_Branch_Name }} | jq -r '.content')
                 parsedJSON=$(echo "$contentBranch" | base64 -d)
                 
                 RCVersionBranch=$(echo $parsedJSON |  jq -r '.dependencies."@pa/rc"')
                 echo "RCVersionBranch=$RCVersionBranch" >> $GITHUB_ENV 
                 
                 echo $RCVersionBranch

        - name: Compare Versions
          run:  |
                  CompareMainPart() {

                    RCVersionBranch=$1
                    RCVersionMaster=$2

                    echo 'CompareMainPart - RCVersionBranch:' $RCVersionBranch
                    echo 'CompareMainPart - RCVersionMaster:' $RCVersionMaster

                    echo $RCVersionMaster |cut -d'.' -f1 | read strMasterPart1
                    echo $RCVersionMaster |cut -d'.' -f2 | read strMasterPart2
                    echo $RCVersionMaster |cut -d'.' -f3 | read strMasterPart3

                    echo $RCVersionBranch |cut -d'.' -f1 | read strBranchPart1
                    echo $RCVersionBranch |cut -d'.' -f2 | read strBranchPart2
                    echo $RCVersionBranch |cut -d'.' -f3 | read strBranchPart3

                    sendNotification=0

                    if [[ "$strBranchPart1" -eq "$strMasterPart1" ]]; then

                      if [[ "$strBranchPart2" -eq "$strMasterPart2" ]]; then

                        if [[ "$strBranchPart3" -eq "$strMasterPart3" ]]; then
                          sendNotification=0
                        else
                          if [[ "$strBranchPart3" -gt "$strMasterPart3" ]]; then
                            sendNotification=1
                          else
                            sendNotification=0
                          fi		
                        fi
                      else
                        if [[ "$strBranchPart2" -gt "$strMasterPart2" ]]; then
                          sendNotification=1
                        else
                          sendNotification=0
                        fi		
                      fi
                    else
                      if [[ "$strBranchPart1" -gt "$strMasterPart1" ]]; then
                        sendNotification=1
                      else
                        sendNotification=0
                      fi		
                    fi	

                    return $sendNotification

                  }
                  
                  RCVersionBranch=${{ env.RCVersionBranch }}
                  RCVersionMaster=${{ env.RCVersionMaster }}
                  
                  echo 'RCVersionBranch:' $RCVersionBranch
                  echo 'RCVersionMaster:' $RCVersionMaster
                  
                  branchContainsHyphen=false
                  masterContainsHyphen=false

                  if [[ $RCVersionBranch =~ "-" ]]; then
                    branchContainsHyphen=true
                  fi

                  if [[ $RCVersionMaster =~ "-" ]]; then
                    masterContainsHyphen=true
                  fi

                  if [[ $branchContainsHyphen == "true" ]] && [[ $masterContainsHyphen == "true" ]]; then

                    echo 'both have hyphens'
                    beforeHyphenRelease=${RCVersionBranch%%-*}
                    beforeHyphenMaster=${RCVersionMaster%%-*}

                    afterHyphenRelease=${RCVersionBranch##*-}
                    afterHyphenMaster=${RCVersionMaster##*-}

                    if [[ $beforeHyphenRelease == $beforeHyphenMaster ]]; then

                      if [[ $afterHyphenRelease == $afterHyphenMaster ]]; then
                        sendNotification=0
                        echo 'after dash are equal, same versions'
                      else

                        if [[ $afterHyphenRelease -gt $afterHyphenMaster ]]; then
                          sendNotification=1
                          echo 'notify as release after dash is greater: ' $sendNotification
                        else
                          sendNotification=0
                          echo 'do not notify as master after dash is greater:' $sendNotification
                        fi
                      fi	
                    else
                      CompareMainPart $beforeHyphenRelease $beforeHyphenMaster

                      returnResult=$?

                      if [[ $returnResult == 0 ]]; then
                        sendNotification=0
                        echo 'no need to notify as master is greater:' $sendNotification
                      else
                        sendNotification=1
                        echo 'notify as branch is greater:' $sendNotification
                      fi
                    fi

                  elif [[ $branchContainsHyphen == "true" ]] && [[ $masterContainsHyphen == "false" ]]; then

                    echo 'true branch/false master'

                    beforeHyphenRelease=${RCVersionBranch%%-*}

                    CompareMainPart $beforeHyphenRelease $RCVersionMaster

                    returnResult=$?

                    if [[ $returnResult == 0 ]]; then
                      sendNotification=0
                      echo 'no need to notify as master is greater:' $sendNotification
                    else
                      sendNotification=1
                      echo 'notify as branch is greater:' $sendNotification
                    fi


                  elif [[ $branchContainsHyphen == "false" ]] && [[ $masterContainsHyphen == "true" ]]; then

                    echo 'false branch/true master'

                    beforeHyphenMaster=${RCVersionMaster%%-*}

                      CompareMainPart $RCVersionBranch $beforeHyphenMaster

                      returnResult=$?

                      if [[ $returnResult == 0 ]]; then
                        sendNotification=0
                        echo 'no need to notify as master is greater:' $sendNotification
                      else
                        sendNotification=1
                        echo 'notify as branch is greater:' $sendNotification
                      fi

                    else

                      echo 'false all'
                      CompareMainPart $RCVersionBranch $RCVersionMaster
                    fi

                    if [[ $sendNotification == 1 ]]; then
                      echo 'SLACKKKKKKKK'
                    fi	
                  
                 
        - name: Dump GitHub context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: echo "$GITHUB_CONTEXT"
