name: ManagePrVersion
 
on:
  pull_request:
    branches:
      - master
  #workflow_dispatch:    

jobs:

  Manage-Version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Extract branch name
        run: echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV
        
      - name: Read version from Jira Issue
        run : echo "issue_fix_version=some_version_1.1" >> $GITHUB_ENV
        
      - name: Write to the version file
        run: |
              git config --global user.name "naregkar"
              git config --global user.email "naregkar@gmail.com"
                          
              #git init           
              git fetch
              git checkout "${{ env.PR_Branch_Name }}"
                           
              cd .github
              > version
              
              echo "$issue_fix_version" >> version
              cat version
              
              git add version
              git commit -am "Updating the file version"
              git push
