name: ValidatePRTitle

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: 
      - master
  workflow_dispatch:
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  
jobs:
  validatePR:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Extract branch name
        run: echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV      
               
      - name: Write fixed version from Jira to the .github/version file
        run: |
              
              curl \
                -X PUT \
                -H "Accept: application/vnd.github.v3+json" \
                https://api.github.com/repos/naregkar/repo1/contents/.github/version \
                -d '{"message":"Updating version","content":"hello"}'
                
                #if [[ "$(git push origin "${{ env.PR_Branch_Name }}")" == *"Done"* ]]
                #then
                #  echo "git push was successful!"
                #fi
        


      

