name: ValidatePRTitle

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: 
      - master
  workflow_dispatch:
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  GITHUB_WORKFLOW_ID: ${{github.run_id}}
  
jobs:
  validatePR:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Extract branch name
        run: echo "PR_Branch_Name=${{ github.head_ref }}" >> $GITHUB_ENV  
     
      - name: Validate PR Title
        id: validatePRTitle
        run:  |
                echo PR Numer is: $GITHUB_PR_NUMBER
                
                restApiPRTitle=$(curl \
                                      -H "Accept: application/vnd.github.v3+json" \
                                      https://api.github.com/repos/naregkar/repo1/pulls/$GITHUB_PR_NUMBER | jq  -r '.title')
                
                echo $restApiPRTitle
                
                if [[ $restApiPRTitle =~ ^\[DT-[0-9]+\] ]]; then
                  #if the title matches the pattern
                  echo 'PR Title is in correct format.'
                  
                  jira_IdUnparsed=$restApiPRTitle
                  jira_id=${jira_IdUnparsed%]*}
                  jira_id=${jira_id:1}
                  echo "JiraId=$jira_id" >> $GITHUB_ENV
                  
                else
                  echo 'PR Title does not comply with the required pattern.'                  
                  exit 1
                fi
                           
               
      - name: Write fixed version from Jira to the .github/version file
        run: |
                git config --global user.name "naregkar"
                git config --global user.email "naregkar@gmail.com"

                git fetch
                git checkout "${{ env.PR_Branch_Name }}"

                cd .github
                cat /dev/null > version

                echo 'Growth V2' >> version

                git add version
                git diff-index --quiet HEAD || git commit -m 'Updating the file version from Jira Issue'
                git push origin "${{ env.PR_Branch_Name }}"
        


      

