name: ValidatePRTitle

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: 
      - master
env:
  GITHUB_PR_NUMBER: ${{github.event.pull_request.number}}
  
jobs:
  validatePR:
    runs-on: ubuntu-latest
    
    steps:
      - name: Validate PR Title
        run:  |
                echo PR Numer is: $GITHUB_PR_NUMBER
                
                restApiPRTitle=$(curl \
                                      -H "Accept: application/vnd.github.v3+json" \
                                      https://api.github.com/repos/naregkar/repo1/pulls/$GITHUB_PR_NUMBER | jq  -r '.title')
                
                echo $restApiPRTitle
                
                if [[ $restApiPRTitle =~ ^\[DT-[0-9]+\] ]]; then
                  echo 'correct format'
                  
                  jira_IdUnparsed=$restApiPRTitle
                  jira_id=${jira_IdUnparsed%]*}
                  jira_id=${jira_id:1}
                  echo "JiraId=$jira_id" >> $GITHUB_ENV               
                else
                  echo 'wrong format'
                  exit 1
                fi


      - name: Assess result
        run:  |
                echo 'assess result'
                
                if [[ "${{ env.JiraId }}" == "DT-11" ]]; then
                  echo 'match.'
                else
                  echo 'not matching'
                  exit 1
                fi
                
                
                
